.goods-list {
  padding: 10px;
  .goods-item {
    margin-bottom: 10px;
  }
  .img-box {
    height: 100px;
    border-radius: 4px;
    overflow: hidden;
  }
  .goods-name {
    margin-top: 5px;
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp:2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }
  .goods-price {
    line-height: 16px;
    color: #F56C6C;
    margin-top: 8px;
  }
}