.graphic-nav-setting .btn-box {
  margin-top: 20px;
}

.graphic-nav-setting .btn-box .add-btn {
  width: 100%;
}

.graphic-nav-setting .link-tips {
  font-size: 14px;
  color: #999;
  margin-left: 5px;
}
