.icon-selector-dialog .el-dialog__header {
  padding: 0;
  line-height: 56px;
  height: 56px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
  position: relative;
  z-index: 9;
}

.icon-selector-dialog .el-dialog__title {
  font-size: 16px;
  font-weight: normal;
}

.icon-selector-dialog .el-dialog__body {
  padding: 0;
}

.icon-selector-dialog .el-dialog__footer {
  padding: 40px 20px 50px;
}

.icon-selector-dialog .el-dialog__footer .el-button {
  padding: 0;
  width: 120px;
  height: 32px;
}

.icon-selector-dialog .el-dialog__footer .el-button.el-button + .el-button {
  margin-left: 80px;
}

.icon-selector-dialog .icon-tabs {
  width: 120px;
  float: left;
}

.icon-selector-dialog .icon-tabs .tabs-item {
  cursor: pointer;
  height: 48px;
  line-height: 48px;
  padding-left: 32px;
  color: #666;
  background: #fff;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.icon-selector-dialog .icon-tabs .tabs-item.active {
  background: #F8F8F8;
  color: #1890FF;
}

.icon-selector-dialog .icon-list {
  padding-left: 120px;
}

.icon-selector-dialog .pagetion {
  text-align: right;
  padding: 0 20px;
}

.icon-selector-dialog .icon-items {
  padding: 10px;
  min-height: 380px;
}

.icon-selector-dialog .icon-items .icon-item {
  width: 110px;
  float: left;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
}

.icon-selector-dialog .icon-items .icon-item.active {
  border-color: #1890FF;
}

.icon-selector-dialog .icon-items .icon-item .icon-box {
  display: block;
  width: 40px;
  height: 40px;
  background: #D0E9FF;
  text-align: center;
  line-height: 40px;
}

.icon-selector-dialog .icon-items .icon-item .icon-label {
  text-align: center;
  display: block;
  margin-top: 10px;
  font-size: 20px;
  line-height: 20px;
  color: #606266;
  font-size: 14px;
}
