.page-manage {
  height: 100%;
  .page-list {
    height: calc(100% - 120px);
    overflow-y: hidden;
  }
  .handle-box {
    border-bottom: 1px solid #dcdfe6;
    line-height: 39px;
    height: 40px;
    padding: 0 0 0 10px;
    cursor: pointer;
  }
  .group-children {
    padding-left: 16px;
  }
  .handle-name,
  .handle-icon,
  .handle-opt {
    display: inline-block;
    color: #666;
    vertical-align: middle;
  }
  .custom-item {
    .handle-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 130px;
    }
  }
  .handle-name {
    .tips {
      color: #999;
    }
    &.active {
      color: #2589FF;
      .tips {
        color: #2589FF;
      }
    }
  }
  .handle-icon {
    .icon {
      font-size: 20px;
      cursor: pointer;
    }
  }
  .handle-opt {
    float: right;
    padding-right: 10px;
    .icon {
      margin: 0 5px;
      cursor: pointer;
      font-size: 18px;
      line-height: 32px;
      &:hover {
        color: #409EFF;
      }
    }
    .dropdown-box {
      display: inline-block;
    }
  }
  ul, li {
    list-style: none;
  }
  .add-btn-box {
    padding-top: 20px;
    margin-bottom: 56px;
    .el-button {
      display: block;
      margin: 0 auto;
      width: 232px;
      height: 32px;
      padding: 0;
      line-height: 32px;
    }
  }
  .system-page-item {
    padding-top: 8px;
  }
}


.page-manage-move {
  .el-dialog__title {
    font-size: 16px;
    color: #333;
    font-weight: bold;
  }
  .el-dialog__body {
    padding: 10px 20px 25px;
  }
  .dialog-body {
    width: 320px;
    margin: 0 auto;
    .move-tips {
      color: #666666;
      line-height: 20px;
      height: 20px;
      margin-bottom: 16px;
    }
    .move-selector {
      width: 100%;
    }
  }
  .el-dialog__footer {
    padding-bottom: 40px;
  }
  .dialog-footer {
    .el-button {
      width: 120px;
      height: 32px;
      padding: 0;
      line-height: 30px;
    }
  }
}