.graphic-nav-setting {
  .el-collapse-item__header {
    padding-left: 16px;
    font-size: 14px;
    color: #666;
    &.is-active {
      border-bottom-color: #EBEEF5;
    }
  }
  .el-collapse-item__arrow {
    font-size: 16px;
  }
  .el-collapse-item__content {
    padding: 10px 16px;
  }
  .el-color-picker {
    vertical-align: top;
  }
  .graphic-style {
    height: 40px;
    .style-item {
      display: inline-block;
    }
    .default-style {
      width: 72px;
      height: 40px;
      padding-top: 6px;
      background:rgba(24,144,255,0.2);
      .style-icon {
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        margin-left: 6px;
        float: left;
        background: #fff;
        position: relative;
        &::before {
          content: '';
          display: block;
          width: 16px;
          height: 4px;
          background: #fff;
          position: absolute;
          left: 0;
          bottom: -10px;
        }
      }
    }
  }
  .list-group {
    .list-group-item {
      background: #F8F8F8;
      margin-bottom: 16px;
    }
    .item-header {
      height: 32px;
      line-height: 32px;
      padding: 0 10px;
      box-shadow:0px 1px 0px rgba(0,0,0,0.05);
      position: relative;
      z-index: 3;
      cursor: pointer;
      position: relative;
      .toggle-icon {
        color: #999;
      }
      .del-btn {
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        right: 10px;
        color: #999;
        &:hover {
          color: #1890FF;
        }
      }
    }
    .item-body {
      padding: 16px 8px 20px 5px;
    }
  }
  .custom-form-group {
    margin-bottom: 20px;
    .custom-form-label {
      width: 80px;
      text-align: right;
      float: left;
      vertical-align: middle;
      font-size: 14px;
      color: #606266;
      line-height: 40px;
    }
    .custom-form-ctrl {
      margin-left: 80px;
    }
  }
  .add-btn {
    width: 100%;
    padding: 0;
    height: 32px;
  }
  .add-tips {
    margin: 10px 0 16px;
    text-align: center;
    color: #999;
  }
}